<div class="ml-5">
  <h1>Edit user</h1>
  <form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
    <div class="form-group mb-2">
      <label class="mr-1" for="name">name</label><br/>
      <input class="form-control" id="name" style="width:400px" name="name" type="text" value=<%= user ? user.name :"" %> />
    </div>
    <div class="form-group mb-2">
      <label class="mr-1" for="name1">phone</label><br/>
      <input class="form-control" id="name1" style="width:400px" name="phone" type="text" value=<%= user ? user.phone :"" %>  />
    </div>
    <div class="form-group mb-2">
      <label class="mr-1" for="name1">email</label><br/>
      <input class="form-control" id="name2" style="width:400px" name="email" type="text" value=<%= user ? user.email :"" %> />
    </div>
    <div class="form-group mb-2">
      <label class="mr-1" for="avatar">avatar</label><br/>
      <input class="form-control-file" id="avatar" name="avatar" type="file" value=<%= user ? user.avatar :"" %>/>
    </div>
    <button class="btn btn-primary">Save changed</button>
  </form>
</div>